{% extends 'account_base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}Redefinição de senha concluída{% endblock %}

{% block content %}
<main class="form-user d-flex h-100 w-100 align-items-center justify-content-center">
  <div class="col-md-6 col-lg-5 col-12">
    <div class="p-3">
      <h1 class="m-0">
        <a accesskey="h" title="Ir para a Página Inicial" href="{% url 'home' %}">
          <img class="d-block mx-auto" width="275px" src="{% static 'logo-completa.svg' %}"
            alt="Em um post-it azul com sua borda superior direita dobrada, o acrônimo Umain é soletrado com um u roxo e m,a,i,n amarelos, todos em minúsculas">
        </a>
      </h1>
      <fieldset class="p-3 mt-3 card shadow-lg border-0 rounded-lg">
        <legend role="heading" aria-level="2" class="text-center font-weight-light mb-3 mt-3">
          Redefinição de senha concluída
        </legend>

        <p>Sua senha foi definida. Você pode prosseguir e fazer login agora.</p>

        <div class=" d-flex align-items-center mt-4 justify-content-center">

          <a href="{% url 'login' %}" class="btn btn-primary">Entrar</a>
        </div>
      </fieldset>
    </div>
  </div>
</main>
<!--Redefinição de Senha Concluída-->
<div class="container p-4">
  <h2 class="font-weight-bold mt-3"></h2>
  <hr>
</div>

{% endblock %}
