{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="container-fluid p-5">

        {% if messages %}
            {% if is_correct %}
                <div class="alert alert-success d-flex alert-dismissible fade show" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                        <use xlink:href="#check-circle-fill"/></svg>
            {% else %}
                <div class="alert alert-primary d-flex alert-dismissible fade show" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                         class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
                         aria-label="Warning:"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98
                        1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552
                        0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
            {% endif %}

                <ul class="messages">
                    {% for message in messages %}
                        <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
                    {% endfor %}
                </ul>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        <h1>{{ question_instance.instance_pj }} - Questão {{ next_question_index }} de {{ total_questions }}</h1>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="question_id" value="{{ question_instance.question_pj.id }}">
            <h2 class="my-4">{{ question_instance.question_pj.title }}</h2>
            {% for option in question_options %}
                <label>
                    {% if option in respondidas %}
                        <input type="radio" name="option_id" value="{{ option.id }}" disabled {% if option.correct %}checked="checked"{% endif %}>
                    {% else %}
                        <input type="radio" name="option_id" value="{{ option.id }}">
                    {% endif %}
                    {{ option.text }}
                </label><br>
            {% endfor %}
            {% if is_correct %}
                {% if likert_scale %}
                    <p class="my-2">Você concorda com a resposta correta?<br>
                        Dê uma nota de 1 a 10 o quanto está de acordo.</p>
                    <label class="my-2">Nota: </label>{{ likert_scale }}<br>
                    {% if next_question_index >= total_questions %}
                        <input type="hidden" name="finish_survey" value="{{ attempt_id }}">
                        <button class="btn btn-primary my-2" type="submit">{% trans 'Submit survey' %}</button>
                    {% else %}
                        <a class="btn btn-primary my-2" href="{% url 'survey_question' attempt_id next_question_index %}">{% trans 'Next question' %}</a>
                    {% endif %}
                {% else %}
                    <p class="my-4">Você concorda com a resposta correta?<br>
                        Dê uma nota de 1 a 10 o quanto está de acordo.</p>
                    <label>Nota:</label>
                    <input type="range" name="likert_scale" min="1" max="10" value="{% if likert_scale %}{{ likert_scale }}{% endif %}">
                    <br>
                    <button class="btn btn-primary my-4" type="submit">{% trans 'To respond' %}</button>
                {% endif %}
            {% else %}
                <button class="btn btn-primary my-4" type="submit">{% trans 'To respond' %}</button>
            {% endif %}
            <br>
            <input type="hidden" name="current_question_index" value="{{ current_question_index }}">
            <br><br>
        </form>
    </div>

{% endblock %}
