{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    <div class="container-fluid p-5">
        <h1>{{ instance.title }}</h1>
        <h2 class="my-4">{{ instance.description }}</h2>
        <h2>{% trans 'Project' %}: {{ instance.instance_project }}</h2>
        <h2>{% trans 'Created' %}: {{ instance.created_at }}</h2>
        {% if attempt %}
            <a href="{% url 'survey_question' attempt.id 0%}" class="btn btn-primary">Continuar pesquisa</a>
        {% else %}
            <form method="post" class="my-4">
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">{% trans 'Iniciar pesquisa' %}</button>
            </form>
        {% endif %}
    </div>

{% endblock %}
