<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Umain Contact us</title>
</head>
<body>
    <h2>Hi, {{ obj.name }}!</h2>
    <p>Thank you for your contact, we will respond shortly.</p>
    <h3>Below is the content of your message:</h3>
    <p>{{ obj.message }}</p>
    <p>Phone: {{ obj.phone }}</p>
</body>
</html>