{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Meu perfil' %}{% endblock %}

{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="col-12 p-3 col-md-8 col-lg-10 mx-auto pt-5">
    <div class="w-100 article-title d-flex justify-content-between align-items-center">
        <h2>{% trans 'Editar' %} <span class="text-bold">{% trans 'perfil' %}</span></h2>
    </div>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" id="message">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}

        <section class="d-flex row">
            <!-- SEÇÃO DE FOTO DO USUÁRIO -->
            <div class="col-12 pe-md-0 pe-3 col-md-4">
                <fieldset>
                    <h3>{% trans 'Foto' %}</h3>

                    <div class="form-floating mb-3">
                        {{ form.picture|add_class:'form-control'|attr:"placeholder:{% trans 'Foto da empresa' %}" }}
                        <label for="id_picture">{% trans 'Foto da empresa' %}</label>
                    </div>

                    <div class="form-floating mb-3">
                        {{ form.picture_description|add_class:'form-control'|attr:"placeholder:{% trans 'Insira uma descrição da imagem' %}"|attr:"aria-label:{% trans 'Insira uma descrição da imagem' %}" }}
                        <label for="id_picture_description">{% trans 'Descrição da imagem' %}</label>
                    </div>
                </fieldset>
                <hr class="divider">
                <fieldset>
                    <h3>{% trans 'Banner da página' %}</h3>
                    <div class="form-floating mb-3">
                        {{ form.banner|add_class:'form-control'|attr:"placeholder:{% trans 'Imagem do banner' %}" }}
                        <label for="id_banner">{% trans 'Imagem do banner' %}</label>
                    </div>

                    <div class="form-floating mb-3">
                        {{ form.banner_description|add_class:'form-control'|attr:"placeholder:{% trans 'Insira uma descrição da imagem' %}"|attr:"aria-label:{% trans 'Insira uma descrição da imagem' %}" }}
                        <label for="id_banner_description">{% trans 'Descrição do banner' %}</label>
                    </div>

                    <div class="form-floating mb-3">
                        {{ form.language|add_class:'form-control' }}
                        <label for="id_language">{% trans 'Idioma' %}</label>
                    </div>
                </fieldset>
            </div>

            <div class="col-12 pt-0 p-3 col-md-8">
                <!-- Informações do administrador -->
                <fieldset class="mb-4">
                    <h3>{% trans 'Informações do administrador do perfil' %}</h3>
                    <div class="text-muted">{% trans 'A pessoa descrita abaixo é responsável pela edição do perfil da página' %}</div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                {{ form.profile_manager|add_class:'form-control'|attr:"placeholder:{% trans 'Digite o nome da pessoa responsável por editar este perfil' %}"|attr:"aria-label:{% trans 'Digite o nome completo da pessoa responsável por editar este perfil' %}" }}
                                <label for="id_profile_manager">{% trans 'Nome do administrador' %}</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-floating mb-3">
                                {{ form.email_manager|add_class:'form-control'|attr:"placeholder:{% trans 'Digite o endereço de e-mail da pessoa responsável por editar este perfil' %}"|attr:"aria-label:{% trans 'Digite o endereço de e-mail da pessoa responsável por editar este perfil' %}" }}
                                <label for="id_email_manager">{% trans 'E-mail do administrador' %}</label>
                                {{ form.email_manager.errors }}
                            </div>
                        </div>
                        <div class="col-12 col-md">
                            <div class="form-floating mb-3">
                                {{ form.social_name|add_class:'form-control'|attr:"placeholder:{% trans 'Digite o nome social pelo qual deseja ser chamado' %}"|attr:"aria-label:{% trans 'Digite o nome social pelo qual deseja ser chamado' %}" }}
                                <label for="id_social_name">{% trans 'Nome Social' %}</label>
                            </div>
                        </div>
                        <div class="col-12  col-md-6">
                            <div class="form-floating mb-3">
                                {{ form.title_pronoun|add_class:'form-control'|attr:"placeholder:{% trans 'Digite o título e/ou pronome pelo qual deseja ser chamado. Por exemplo, Sra./Ela' %}"|attr:"aria-label:{% trans 'Digite o título e/ou pronome pelo qual deseja ser chamado. Por exemplo, Sra./Ela' %}" }}
                                <label for="id_title_pronoun">{% trans 'Título e Pronome' %}</label>
                            </div>
                        </div>
                        <div class="col-12 col-md">
                            <div class="form-floating mb-3">
                                {{ form.phone_manager|add_class:'form-control'|attr:"placeholder:{% trans 'Digite o número de telefone da pessoa responsável por editar este perfil' %}"|attr:"aria-label:{% trans 'Digite o número de telefone da pessoa responsável por editar este perfil' %}" }}
                                <label for="id_phone_manager">{% trans 'Número de telefone do administrador' %}</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-checkbox mb-3">
                                {{ form.is_resp|add_class:'form-check-input' }}
                                <label class="form-check-label" for="id_is_resp">
                                    {% trans 'Sou responsável pelas informações contidas neste perfil' %}
                                </label>
                                {{ form.is_resp.errors }}
                            </div>
                        </div>
                    </div>
                </fieldset>
                <!-- Sobre -->
                <fieldset class="mb-4">
                    <h3>{% trans 'Sobre' %}</h3>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                {{ form.name|add_class:'form-control'|attr:"placeholder:{% trans 'Nome da empresa' %}" }}
                                <label for="id_name">{% trans 'Nome da empresa' %}</label>
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <label for="">{% trans 'Descrição da empresa:' %}</label>
                            <div class="form-floating mb-3">
                                {{ form.company_description|add_class:'form-control'|attr:"placeholder:{% trans 'Digite uma breve descrição sobre sua empresa' %}"|attr:"aria-label:{% trans 'Digite uma breve descrição sobre sua empresa' %}" }}
                                {{ form.company_description.errors }}
                            </div>
                        </div>
                        <div class="col-12 col-md">
                            <div class="form-floating mb-3">
                                {{ form.email|add_class:'form-control'|attr:"placeholder:{% trans 'E-mail da empresa' %}" }}
                                <label for="id_email">{% trans 'E-mail da empresa' %}</label>
                                {{ form.email.errors }}
                            </div>
                        </div>
                        <div class="col-12 col-md">
                            <div class="form-floating mb-3">
                                {{ form.phone|add_class:'form-control'|attr:"placeholder:{% trans 'Número de telefone da empresa' %}" }}
                                <label for="id_phone">{% trans 'Número de telefone da empresa' %}</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </section>
        <div class="d-flex align-items-center justify-content-center mt-4 mb-0">
            <button type="submit" class="btn btn-primary mx-2"><i class="fas fa-save me-3"></i>{% trans 'Salvar perfil' %}</button>
        </div>
    </form>
</div>
{% endblock %}
