{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% load static %}
{% load widget_tweaks %}

{% block content %}
<!-- <div class="page-contact banner-page">

</div> -->

<img class="mx-auto container rounded shadow p-0 page-post banner-page" style="min-height: 352px" src="{{ object.photo.url }}"  alt="{{ object.photo_description }}">

<div class="container py-5 px-3 p-md-5">
    <h2 class="article-title">Entre em <span class="text-bold">Contato</span></h2>
    <p class="mt-2 mb-5">
        Agradecemos seus comentários e perguntas sobre nossas atividades e serviços. Preencha o formulário abaixo e entraremos em contato o mais breve possível.
    </p>

    <form class="mt-2 mb-5" method="post">
        {% csrf_token %}
        <div class="form-floating">
            {% render_field form.name|add_class:'form-control' placeholder=form.name.label %}
            <label for="id_name">Nome</label>
        </div>
        <div class="form-floating my-4">
            {% render_field form.email|add_class:'form-control' placeholder=form.email.label %}
            <label for="id_email">Email</label>
        </div>
        <div class="form-floating">
            {% render_field form.phone|add_class:'form-control' placeholder=form.phone.label %}
            <label for="id_phone">Número de telefone</label>
        </div>
        <div class="form-floating my-4">
            {% render_field form.message|add_class:'form-control' placeholder=form.message.label %}
            <label for="id_message">Mensagem</label>
        </div>

        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane me-3"></i> Enviar mensagem</button>
        </div>
    </form>

</div>

{% endblock %}
