{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="page-conditions banner-page"></div>

<article class="container py-5 px-3 p-md-5">
        <h2 class="article-title">Commenting <span class="text-bold">Policy</span></h2>
        <div class="mt-2 mb-5">
                <p>The UMAIN website maintains an official presence on six social media sites: Facebook, Instagram, LinkedIn, Whatsapp, Twitter, and YouTube. These accounts are produced, maintained, and monitored by the UMAIN team and volunteers.</p>
                <p>All users are welcome and encouraged to share content on the UMAIN website and social media. Remember that you are personally responsible for all content you post online, whether in a blog, on a social networking site, or in the comments section.</p>
                <p>Content posted by other users on UMAIN social media pages does not necessarily reflect UMAIN opinions or policies. Links to content on other websites should not be construed as an endorsement of the organizations, entities, views or content contained therein. The UMAIN team is not responsible for the content of those external websites.</p>
                <p>By posting content to any UMAIN social media page, users understand and acknowledge that this information is available to the public, and that other participants may use posted information beyond the control of the UMAIN team. Users who do not wish to have information they have made available via these sites used, published, copied and/or reprinted, should not post on UMAIN social media pages.</p>
                <p>All users are expected to adhere to site-specific Terms of Use when posting content to an official UMAIN social media page. UMAIN reserves the right, but is not obligated, to remove content from UMAIN social media sites for any reason. However, we will remove contents that are discriminatory, derogatory and/or offensive.</p>
                <p>If you plan to share content on a UMAiN social media page, observe the following guidelines.</p>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item px-0">
                                <h3>Stay on topic.</h3>
                                <p>When commenting under an existing post, please keep comments on topic. However if you have a question about the UMAIN, feel free to post it and our team will try to answer it in a timely manner.</p>
                        </li>
                        <li class="list-group-item px-0">
                                <h3>Do not post spam or advertisements.</h3>
                                <p>Unauthorized commercial solicitations are not permitted on UMAIN social media pages and will be removed. Users who continuously post unauthorized advertisements on UMAIN social media pages will risk being banned from posting.</p>
                        </li>
                        <li class="list-group-item px-0">
                                <h3>Observe confidentiality laws at all times. Observe fair use, copyright and disclosure laws.</h3>
                                <p>Always give people credit for their work, and make sure you have the right to use content before you post it on social media sites.</p>
                        </li>
                        <li class="list-group-item px-0">
                                <h3>Be truthful in your posts.</h3>
                                <p>Never represent yourself or the UMAIN website in a false or misleading way. All statements must be true; all claims must be substantiated.</p>
                        </li>
                        <li class="list-group-item px-0">
                                <h3>Do not bully or harass other users.</h3>
                                <p>We welcome civilized dialogue on all issues. If you disagree with another user's opinion, please keep your comments respectful. Do not threaten, bully or harass other users. Comments that harass other posters will be deleted. Please be respectful toward other contributors.</p>
                        </li>
                        <li class="list-group-item px-0">
                                <h3>Refrain from using hateful speech.</h3>
                                <p>Be respectful of others. Do not attack other users based on their race, ethnicity, national origin, religion, political opnion, sex, gender, sexual orientation, disability or medical condition. Comments that attack an individual directly will be deleted.</p>
                        </li>
                        <li class="list-group-item px-0">
                                <h3>Do not use vulgar language or profanity.</h3>
                                <p>The UMAIN team reserves the right to remove comments and posts that contain profanity.</p>
                        </li>
                        <li class="list-group-item px-0">
                                <h3>Do not post content that contains graphic violence or pornography.</h3>
                                <p>UMAIN has a strict policy against the sharing of pornographic content and rejects any display of nudity and graphic violence. Note that comments including abusive, threatening, pornographic, offensive, misleading or libelous language will be deleted.</p>
                        </li>
                        <li class="list-group-item px-0">
                                <h3>Anonymous comments will be deleted. We only accept comments from posters who identify themselves.
                        </li>
                </ul>

        </div>
</article>
{% endblock %}