{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

	<section id="section-search" class="search-container">
		<div class="search-container-form">
			<div class="col-12 col-md-11 col-lg-8 text-center mx-auto">
				<h1 class="h1 text-white mb-4 txt-shadow">{% trans 'Social Enhancement' %}:
					<span class="text-bold">{% trans 'Bringing People Together to Transform Communities by Promoting Inclusion and Equity' %}</span>.
				</h1>
			</div>
		</div>
	</section>

{% endblock %}